*{
    box-sizing: border-box;
}

body{
    font-family: "Space Mono", sans-serif;
    margin: 0; //para resetar as bordas default
}

ul{
    list-style-type: none; //para resetar as bolinhas padrão
    margin: 0; //para resetar as bordas default
}

a{
    text-decoration: none; //para resetar o sublinhado padrão
    color: inherit; //faz com que os links herdem a cor do texto do seu conteiner-pai, resetando a cor default dos links
}

header{
    font-weight: bold; // engrossar a letra de todo o texto do header
}

// ***************************************** Nav Branca - NORMAL ***************************************** //
.white-nav{
    background-color: white;
    ul{
        display: flex;
        padding: 0; //para resetar as bordas default
        div{
            margin: 1em 0; //cima-baixo dir-esq
            display: flex;
        }
    }
}

#left-container{
    width: 100%; //faz com que ocupe todo o espaço disponível
    align-items: center;

    #img-logo{
        margin-right: auto; //cria o maior espaço possivel à direita da imagem, alinhando os restantes elementos da div à direita
        margin-left: 3.5em; //espaçamento padrão até à borda
    }

    .img-icones{
        margin-right: 1.5em; //espaçamento padrão entre icones
    }

    #hamburguer{
        display:none;
    }
}

#right-container{
    align-items: center; //alinhas os filhos (2 li) do container verticalmente no centro
}

.button{
    display: flex; // para que dê para centralizar os seus filhos na linha seguinte
    align-items: center;
    height: 50%; // em relação à altura do container right
    width: 7em;
    margin-right: 1.5em; //espaçamento padrão entre icones
    border-radius: 0.4em; // arredondar bordas
    a{
        margin: auto; // centra horizontal e verticalmente em relação ao pai
    }
    .img-icones-pequenos{
        margin-right: 0.5em;
    }
    #coracao{
        height: 1em;
    }
    
}

#donate{
    color:#212529;
    background-color: #faeb00;
}

#help{
    color:white;
    background-color: #0072bc;
    margin-right: 2em; //espaçamento padrão até à borda (soma com o espaçamento right da class button)
}
// ***************************************** Nav Azul - NORMAL ***************************************** sem dropdown menu //
.blue-nav{
    background-color: #0072bc;
    border: 1px solid #338ec9;
    box-shadow: 0 20px 24px 0 rgba(0,0,0,.16); //offset-x, offset-y, blur-radius, spread-radius, color
    color:white;
    width: 100%;
    height: 5em;
    display: flex;
    ul{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        li{
            padding: 2% 2%;
            position: relative;
            font-size: 1.3em;
        }
        li:hover{
            background-color: white;
            color:#0072bc;
        }
    }
    #simbolos{
        display: none;
    }
}

.blue-nav-fixa{
    position: fixed;
    top: 0;
    #simbolos{
        display: flex;
        align-items: center;
        img{
            margin-right:1.5em;
            height: 1.8em;
        }
    }
}



// ***************************************** 1º: Bloco Azul: Normal ***************************************** //
.flex-container{
    padding: 4em;
    background-color: #0072bc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    .left-flex{
        font-weight: bold;
        width: 30%;
        margin-right: 2em;
        #titulo{
            color:#faeb00;
        }
        #texto{
            display: flex;
            margin-bottom: 0.6em;
            color:white;
            font-size: 2.5em;
        }
        #botao1{
            background-color:#faeb00;
            margin-bottom: 1em;
            width: 30%;
        }
        #botao2{
            color:white;
            border: 2px solid white;
            width: 45%;
        }
        #buttons-container{
            display: flex;
            flex-direction: column;
            .buttons{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.2em;
                width: 100%;
                a{
                    padding: 0.5em 0; 
                }
            }
            #botao1{
                max-width: 40%;
            }
            #botao2{
                max-width: 60%;
            }
        }
        
    }

    .right-flex{
        width: 60%;
        #imagem{
            img{
                width: 100%;
            }
        }
        #legenda{
            color: white;
            font-size: 0.8em;
            margin-top: 1em;
        }
    }
}

.blocks{
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1fr;
    gap: 2em;

    .BlockA{
        border-bottom: 5px solid #f4f4f4;
    }
    .BlockC{
        display: flex;
        flex-direction: column;
        button{
            font-weight: bold;
            background-color: white;
            border-radius: 0.2em;
            padding: 0.5em;
            margin-bottom:1em;
        }

        button:hover{
            background-color:#e5e5e5;
        }
    }
}

.container-A{
    margin: 2em 12em;
}

.formulario{
    background-color:#0072bc;
    display: flex;
    flex-direction: column;
    align-items: center;
    .BlocoA{
        font-weight: bold;
        font-size: 1.7em;
        margin: 0.5em;
        margin-top: 2em;
        label{
            cursor: pointer;
            background-color: white;
            padding: 0.2em;
            border-radius: 0.1em;
        }
        input{
            display: none;
        }
        input:checked + label{
        background-color: #faeb00;
        }
    }
    .BlocoBotoes{
        margin-top:0.5em;
        button{
            font-weight: bold;
            font-size: 1em;
            background-color: white;
            padding: 0.8em 2.5em;
            border-radius: 0.2em;
            border: 0;
        }
    }
    .BlocoC{
        display: flex;
        flex-direction: column;
        margin-top:0.5em;
        color:white;
    }
    .dados{
        color:white;
        .BlocoE{
            .Empresa{
                display: none;
            }
        }
    }
    .Mensal{
        display: none;
    }
    .Pagamento{
        #PagamentoMensal{
            display: none;
        }
    }
    .submit{
        margin-top: 1em;
        margin-bottom: 2em;
        button{
            background-color: #faeb00;
            padding: 1em 20em;
            font-weight: bold;
            font-size: 100%;
            border-radius: 0.3em;
            border: 0;
        }
    }
    #resultado{
        display: none;
        margin-top: 1em;
        font-weight: bold;
        background-color: white;
        border-radius: 0.2em;
        padding: 1em;
    }
}


// ***************************************** Nav Branca - Menor que 1000px (MEDIA QUERY) ***************************************** //
@media screen and (max-width:1000px) {
    .blue-nav, .blue-nav-fixa{
        display: none !important; 
    }
    .white-nav {
        ul{
        flex-direction: column;  // Altera para uma direção de coluna
        margin: 0 10%; // separa os icones das bordas laterais
            div{
                justify-content: center; // alinhar horizontalmente as divs à ul (que ocupa o mesmo espaço que a nav = fundo branco)
            }
        }
    }

    #left-container{
        border-bottom: 1px solid #f4f4f4; // cria linha cizenta
        padding-bottom: 0.5em; // cria espaço entre logo e linha

    #right-container{
        margin-top: 0; // elimina espaço em excesso entre a linha cizenta e os botoes
    }
        
        #img-logo{
            margin-right: auto; //cria o maior espaço possivel à direita da imagem, alinhando os elementos da direita da div à direita
            margin-left: 0; //reset
            #logo-size{
                width: 50%; //redimensionar logo
                min-width: 6em;
            }
        }
    
        .img-icones{
            width: 50%; //redimensionar icones
            min-width: 1em;
            margin-right: 1em; //novo espaçamento padrão entre icones
        }

        #hamburguer{
            display: inline; //fazer hamburguer aparecer
            width: 2.5%; //redimensionar hamburguer
            min-width: 0.9em;
            margin-right: 1em;
        }
    }
    
    .button{
        height: 2.3em;
        a{
            text-align: center; 
        }
    }
    
    #help{
        margin: 0; // reset
    }


    .flex-container{
        padding: 2em;
        flex-direction: column;
        justify-content: center;
        
        .left-flex{
            width: 100%;
        }
    
        .right-flex{
            width: 60%;
            #imagem{
                img{
                    width: 100%;
                }
            }
            #legenda{
                color: white;
                font-size: 0.8em;
            }
        }
    }
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.2em;
        height: 2em;
    }
}

