* {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-weight: bold;
}

.white-nav {
  background-color: white;
}
.white-nav ul {
  display: flex;
  padding: 0;
}
.white-nav ul div {
  margin: 1em 0;
  display: flex;
}

#left-container {
  width: 100%;
  align-items: center;
}
#left-container #img-logo {
  margin-right: auto;
  margin-left: 3.5em;
}
#left-container .img-icones {
  margin-right: 1.5em;
}
#left-container #hamburguer {
  display: none;
}

#right-container {
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  height: 50%;
  width: 7em;
  margin-right: 1.5em;
  border-radius: 0.4em;
}
.button a {
  margin: auto;
}
.button .img-icones-pequenos {
  margin-right: 0.5em;
}
.button #coracao {
  height: 1em;
}

#donate {
  color: #212529;
  background-color: #faeb00;
}

#help {
  color: white;
  background-color: #0072bc;
  margin-right: 2em;
}

.blue-nav {
  background-color: #0072bc;
  border: 1px solid #338ec9;
  box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.16);
  color: white;
  width: 100%;
  height: 5em;
  display: flex;
}
.blue-nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.blue-nav ul li {
  padding: 2% 2%;
  position: relative;
  font-size: 1.3em;
}
.blue-nav ul li:hover {
  background-color: white;
  color: #0072bc;
}
.blue-nav #simbolos {
  display: none;
}

.blue-nav-fixa {
  position: fixed;
  top: 0;
}
.blue-nav-fixa #simbolos {
  display: flex;
  align-items: center;
}
.blue-nav-fixa #simbolos img {
  margin-right: 1.5em;
  height: 1.8em;
}

.flex-container {
  padding: 4em;
  background-color: #0072bc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-container .left-flex {
  font-weight: bold;
  width: 30%;
  margin-right: 2em;
}
.flex-container .left-flex #titulo {
  color: #faeb00;
}
.flex-container .left-flex #texto {
  display: flex;
  margin-bottom: 0.6em;
  color: white;
  font-size: 2.5em;
}
.flex-container .left-flex #botao1 {
  background-color: #faeb00;
  margin-bottom: 1em;
  width: 30%;
}
.flex-container .left-flex #botao2 {
  color: white;
  border: 2px solid white;
  width: 45%;
}
.flex-container .left-flex #buttons-container {
  display: flex;
  flex-direction: column;
}
.flex-container .left-flex #buttons-container .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
  width: 100%;
}
.flex-container .left-flex #buttons-container .buttons a {
  padding: 0.5em 0;
}
.flex-container .left-flex #buttons-container #botao1 {
  max-width: 40%;
}
.flex-container .left-flex #buttons-container #botao2 {
  max-width: 60%;
}
.flex-container .right-flex {
  width: 60%;
}
.flex-container .right-flex #imagem img {
  width: 100%;
}
.flex-container .right-flex #legenda {
  color: white;
  font-size: 0.8em;
  margin-top: 1em;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  gap: 2em;
}
.blocks .BlockA {
  border-bottom: 5px solid #f4f4f4;
}
.blocks .BlockC {
  display: flex;
  flex-direction: column;
}
.blocks .BlockC button {
  font-weight: bold;
  background-color: white;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-bottom: 1em;
}
.blocks .BlockC button:hover {
  background-color: #e5e5e5;
}

.container-A {
  margin: 2em 12em;
}

.formulario {
  background-color: #0072bc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario .BlocoA {
  font-weight: bold;
  font-size: 1.7em;
  margin: 0.5em;
  margin-top: 2em;
}
.formulario .BlocoA label {
  cursor: pointer;
  background-color: white;
  padding: 0.2em;
  border-radius: 0.1em;
}
.formulario .BlocoA input {
  display: none;
}
.formulario .BlocoA input:checked + label {
  background-color: #faeb00;
}
.formulario .BlocoBotoes {
  margin-top: 0.5em;
}
.formulario .BlocoBotoes button {
  font-weight: bold;
  font-size: 1em;
  background-color: white;
  padding: 0.8em 2.5em;
  border-radius: 0.2em;
  border: 0;
}
.formulario .BlocoC {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  color: white;
}
.formulario .dados {
  color: white;
}
.formulario .dados .BlocoE .Empresa {
  display: none;
}
.formulario .Mensal {
  display: none;
}
.formulario .Pagamento #PagamentoMensal {
  display: none;
}
.formulario .submit {
  margin-top: 1em;
  margin-bottom: 2em;
}
.formulario .submit button {
  background-color: #faeb00;
  padding: 1em 20em;
  font-weight: bold;
  font-size: 100%;
  border-radius: 0.3em;
  border: 0;
}
.formulario #resultado {
  display: none;
  margin-top: 1em;
  font-weight: bold;
  background-color: white;
  border-radius: 0.2em;
  padding: 1em;
}

@media screen and (max-width: 1000px) {
  .blue-nav, .blue-nav-fixa {
    display: none !important;
  }
  .white-nav ul {
    flex-direction: column;
    margin: 0 10%;
  }
  .white-nav ul div {
    justify-content: center;
  }
  #left-container {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 0.5em;
  }
  #left-container #right-container {
    margin-top: 0;
  }
  #left-container #img-logo {
    margin-right: auto;
    margin-left: 0;
  }
  #left-container #img-logo #logo-size {
    width: 50%;
    min-width: 6em;
  }
  #left-container .img-icones {
    width: 50%;
    min-width: 1em;
    margin-right: 1em;
  }
  #left-container #hamburguer {
    display: inline;
    width: 2.5%;
    min-width: 0.9em;
    margin-right: 1em;
  }
  .button {
    height: 2.3em;
  }
  .button a {
    text-align: center;
  }
  #help {
    margin: 0;
  }
  .flex-container {
    padding: 2em;
    flex-direction: column;
    justify-content: center;
  }
  .flex-container .left-flex {
    width: 100%;
  }
  .flex-container .right-flex {
    width: 60%;
  }
  .flex-container .right-flex #imagem img {
    width: 100%;
  }
  .flex-container .right-flex #legenda {
    color: white;
    font-size: 0.8em;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
    height: 2em;
  }
}/*# sourceMappingURL=estilos.css.map */