body{
    background-color: gray;
    font-family: 'Montserrat', sans-serif;
    height: 1500px;
    margin: 0; //para resetar as bordas default
}

ul{
    list-style-type: none; //para resetar as bolinhas padrão
    margin: 0; //para resetar as bordas default
}

a{
    text-decoration: none; //para resetar o sublinhado padrão
    color:inherit; //faz com que os links herdem a cor do texto do seu conteiner-pai, resetando a cor default dos links
}

// ***************************************** Nav Branca - NORMAL ***************************************** //
.flex-container{
    background-color: white;
    ul{
        display: flex;
        padding: 0; //para resetar as bordas default
        div{
            margin: 1em 0; //cima-baixo dir-esq
            display: flex;
        }
    }
}

#left-container{
    width: 100%; //faz com que ocupe todo o espaço disponível
    align-items: center;

    #img-logo{
        margin-right: auto; //cria o maior espaço possivel à direita da imagem, alinhando os restantes elementos da div à direita
        margin-left: 3.5em; //espaçamento padrão até à borda
    }

    .img-icones{
        margin-right: 1.5em; //espaçamento padrão entre icones
    }
}

#right-container{
    align-items: center; //alinhas os filhos (2 li) do container verticalmente no centro
}

.button{
    display: flex; // para que dê para centralizar os seus filhos na linha seguinte
    align-items: center;
    font-weight: bold; // engrossar a letra
    height: 50%; // em relação à altura do container right
    width: 7em;
    margin-right: 1.5em; //espaçamento padrão entre icones
    border-radius: 0.4em; // arredondar bordas
    a{
        margin: auto; // centra horizontal e verticalmente em relação ao pai
    }
    .img-icones-pequenos{
        margin-right: 0.5em;
    }
    #coracao{
        height: 1em;
    }
    
}

#donate{
    color:#212529;
    background-color: #faeb00;
}

#help{
    color:white;
    background-color: #0072bc;
    margin-right: 2em; //espaçamento padrão até à borda (soma com o espaçamento right da class button)
}

// ***************************************** Nav Branca - Menor que 990px (MEDIA QUERY) ***************************************** //
@media screen and (max-width:990px) {
    .flex-container {
        ul{
        flex-direction: column;  // Altera para uma direção de coluna
            div{
                justify-content: center; // alinhar horizontalmente as divs à ul (que ocupa o mesmo espaço que a nav = fundo branco)
            }
        }
    }
}

// NOTA: FALTA ELIMINAR OS MARGINS DEFINIDOS NA RESOLUÇÃO PADRÃO, POIS NESTE MEDIA QUERY DEIXAM DE FAZER SENTIDO