body{
      
      header{
            background-color: lightblue;
            .navbar-top{
                  display: flex;
                  border-style: solid;
                  justify-content:space-between;

                  .navbar-left{
                        border-style: solid;
                        padding: 10px;
                        padding-top: 15px;
                  }
                  .navbar-right{
                        border-style: solid;
                        ul{
                              list-style-type: none;
                              display: flex;
                              flex-direction: row;
                              padding: 0px 0px;
                              gap: 1rem;

                        }
                  }
            }
      }
}